$color-dark-gray: #dedede;
$color-gray: #F8F8F8;
$color-light-gray: #F7F7F7;
$color-medium-gray: #4f4e52;
$color-white: #fff;
$color-black: #000;
$color-blue: #009DEA;
$color-light-blue: #009DEA;
$color-red: #ff0000;
